<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .block {
            display: block;
            margin: 20px;
            margin-bottom:1px;
            border: 2px dashed 2px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="block">
        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="#">XML</a></li>
                    <li><a href="#">XSLT</a></li>
                    <li><a href="#">Yeni Sayfa</a></li>
                    <li><a href="#">Ekle</a></li>
                    <li><a href="#">Kaydet</a></li>
                </ul>
                <form class="navbar-form navbar-left" action="/action_page.php">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                    </div>
                    <button type="submit" class="btn btn-default">Ara</button>
                </form>
                <div style="float:right;margin-right:330px;color:azure;"><h2>E-FATURA</h2></div>
            </div>
        </nav>
    </div>
    <div style="margin-left:25px;">
        @RenderBody()
    </div>
</body>
</html>
