

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>

</head>
<body>

	<iframe src="C:\Users\ismet\AppData\Local\Temp\tmp2A59.html"></iframe>

	<textarea id="myTextarea">
342 Alvin Road
Ducksburg</textarea>
	<button name="New" id="New" onclick="myFunction()" type="button" class="navbar-left">New</button>

	<script>
		function myFunction() {
			document.getElementById("myTextarea").value = "Fifth Avenue, New York City";
		}
	</script>
</body>
</html>