
@{

	Layout = "~/Views/_LayoutPage1.cshtml";
}







<div class=wrap id="wrap1" style="width:47%; position:fixed; z-index:2;">
	<div class=border>

		<textarea id="code">
342 Alvin Road
Ducksburg</textarea>
	</div>
</div>



<div>
	@{
		var gelen_link = ViewBag.cikti;
		var degis = gelen_link.Replace("\\", "\\\\");
	}


	<a style="float:right" href='~/Home/test.html'>sad</a>

	<iframe style="float:right;" src="~/Home/test.html"></iframe>
	<a style="float:right"  href="~/Views/Home/View.cshtml">dsadsa</a>


</div>


<div class=wrap id="wrap2" style="width:47%; position:fixed;z-index:-1;">
	<div class=border>
		<textarea id="code2"></textarea>
	</div>
</div>



